<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    {% for item in site.data.menu %}
      <a class="sidebar-nav-item{% if page.url == item.link %} active{% endif %}" href="{{ item.link }}">
        {{ item.name }}
      </a>
    {% endfor %}
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }} Tous droits réservés.
    </p>
  </div>
</div>
