---
layout: default
---

{{ content }}
<h2>Adhérez-vous pour faire partie de ce mouvement:</h2>
<br>
<form action="mailto:artvivantlibre@protonmail.com?subject=Adhésion" method="POST" enctype="text/plain">
  <input type="email" name="Adresse mail" placeholder="Adresse mail" required="required">
  <input type="text" name="Nom" placeholder="Nom" required="required">
  <input type="text" name="Ville" placeholder="Ville" required="required">
  <button type="submit">Adhérez</button>
</form>
<br>
<p>
  Vous pouvez alternativement envoyer votre nom, ville et adresse mail à <a href="mailto:artvivantlibre@protonmail.com?subject=Adhésion">artvivantlibre@protonmail.com</a>.
</p>
